body {
  background-color: rgb(32, 28, 28) !important;
  height: 100vh;
  min-width: 100%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;

  position: relative;
  background: none;

  max-width: 50rem;
  color: ivory;
  overflow: auto;
}
